form#login-form(method='POST', action='/api/auth').modal-form
    .modal-form__inner
        .modal-form__form 
            #login-close.modal-form__close-row
                i.fas.fa-times.modal-form__close-button
            .modal-form__caption Войти
            input(type="text", name="username", placeholder="Email").modal-form__input
            input(type="password", name="password", placeholder="Пароль").modal-form__input
            button#login-submit(type="submit").modal-form__input.modal-form__button.button Войти