form#reg-form(method='POST', action='/api/reg').modal-form
  .modal-form__form 
      .modal-form__close-row
          #reg-close.i.fas.fa-times.modal-form__close-button(data-form='reg-form')
      .modal-form__caption Регистрация

      .modal-form__input
        i.fas.fa-envelope.modal-form__input-icon
        input(type="text", name="email").modal-form__input-field
        span(data-placeholder="Email").modal-form__placeholder Email


      .modal-form__input            
        i.fas.fa-key.modal-form__input-icon
        input(type="password", name="password").modal-form__input-field
        span(data-placeholder="Email").modal-form__placeholder Пароль

      .modal-form__input
        i.fas.fa-user.modal-form__input-icon
        input(type="text", name="first-name").modal-form__input-field
        span(data-placeholder="Email").modal-form__placeholder Имя

      .modal-form__input
        i.fas.fa-user.modal-form__input-icon
        input(type="text", name="second-name").modal-form__input-field
        span(data-placeholder="Email").modal-form__placeholder Фамилия

      .modal-form__input
        i.fas.fa-user.modal-form__input-icon
        input(type="text", name="last-name").modal-form__input-field
        span(data-placeholder="Email").modal-form__placeholder Отчество

      .modal-form__input
        i.fas.fa-calendar-day.modal-form__input-icon
        input(type="text", name="birthday", data-type='date').modal-form__input-field
        span(data-placeholder="Email").modal-form__placeholder Дата рождения (дд.мм.гггг)

      button#reg-submit(type="submit").modal-form__button.button Зарегистрироваться