extends layout

block content
  .container
    .catalog-menu
      .catalog-menu__button Новинки
      .catalog-menu__button.catalog-menu__button--active Лидеры продаж
      .catalog-menu__button Популярное

    .catalog.catalog--active
        a.catalog-item(href="#")
          img.catalog-item__img(src="https://cdn.gabestore.ru/product/370x460_BYn56qjn2QQrnQOzWH94b4qDo6FwTtJx.jpg", alt="")
          .catalog-item__hover
          .catalog-item__text Grid Ultimate Edition 
          .catalog-item__price= 650 + ' ₽'