extends layout

block content
  .slider
    .owl-carousel.owl-theme
      .slider-item
        img.slider-item__image(src='/images/slide-1.jpg')
        .slider-item__text.container
          .slider-item__game Code Vein
          .slider-item__price 1500 ₽
      .slider-item 
        img.slider-item__image(src='/images/slide-2.jpg')
        .slider-item__text.container
          .slider-item__game blasphemous
          .slider-item__price 1500 ₽
      .slider-item 
        img.slider-item__image(src='/images/slide-3.jpg')
        .slider-item__text.container 
          .slider-item__game ancestors
          .slider-item__price 1500 ₽
      .slider-item 
        img.slider-item__image(src='/images/slide-4.jpg')
        .slider-item__text.container
          .slider-item__game hunt showdown
          .slider-item__price 1500 ₽
      .slider-item
        img.slider-item__image(src='/images/slide-5.jpg')
        .slider-item__text.container
          .slider-item__game pes 2020
          .slider-item__price 1500 ₽
    .slider__nav#slider-nav

  .container
    .catalog-menu
      .catalog-menu__button Новинки
      .catalog-menu__button.catalog-menu__button--active Лидеры продаж
      .catalog-menu__button Популярное

    .catalog.catalog--active
        a.catalog-item(href="#")
          img.catalog-item__img(src="https://cdn.gabestore.ru/product/370x460_BYn56qjn2QQrnQOzWH94b4qDo6FwTtJx.jpg", alt="")
          .catalog-item__hover
          .catalog-item__text Grid Ultimate Edition 
          .catalog-item__price= 650 + ' ₽'