extends ../../layout

block content
    .user-page.user-page.page__inner.container
        if (user.role.length > 1)
            .user-page__nav
                if (user.role.includes('user')) 
                    a.user-page__nav-item(href="/cabinet/user") Пользователь
                if (user.role.includes('customer'))                 
                    a.user-page__nav-item(href="/cabinet/customer") Продавец
                if (user.role.includes('admin')) 
                    a.user-page__nav-item(href="/cabinet/admin") Администратор
        block page
