extends ../layout

block content
  .slider
    .owl-carousel.owl-theme
      -let i = 0;
      while i < Math.min(6, newGames.length)
        -const game = newGames[i++]
        a.slider-item(href='/catalog/'+game.article)
          img.slider-item__image(src='/images/'+game.sliderImage)
          .slider-item__text.container
            .slider-item__game=game.name
            .currency.currency--rub.slider-item__price=game.price
    .slider__nav#slider-nav

  .container
    .catalog-menu
      .catalog-menu__button(data-category='new') Новинки
      .catalog-menu__button.catalog-menu__button--active(data-category='hit') Лидеры продаж
      .catalog-menu__button(data-category='pop') Популярное

    .catalog.catalog--active(data-category='new')
        each game in newGames
          a.catalog-item(href="/catalog/" + game.article)
            img.catalog-item__img(src="/images/" + game.defaultImage, alt="")
            .catalog-item__hover
            .catalog-item__text=game.name
            .currency.currency--rub.catalog-item__price=game.price