.iconic 
  &--cat-action
    &:before
      font-family: 'iconic'
      display: block
      content: '\E002'
      font-size: 0.7em

  &--cat-adventure
    &:before
      font-family: 'iconic'
      display: block
      content: '\E003'
      font-size: 1em

  &--cat-arcade
    &:before
      font-family: 'iconic'
      display: block
      content: '\E004'
      font-size: 1em

  &--cat-strategy
    &:before
      font-family: 'iconic'
      display: block
      content: '\E009'
      font-size: 1em

  &--cat-sport
    &:before
      font-family: 'iconic'
      display: block
      content: '\E008'
      font-size: 1em

  &--cat-rpg
    &:before
      font-family: 'iconic'
      display: block
      content: '\E006'
      font-size: 1em

  &--cat-sim
    &:before
      font-family: 'iconic'
      display: block
      content: '\E007'
      font-size: 1em

  &--cat-mmo
    &:before
      font-family: 'iconic'
      display: block
      content: '\E005'
      font-size: 1em

  &--arr-full-l    
    &:before
      font-family: 'iconic'
      display: block
      content: '\E001'