.product-page

  &__header
    font-size: 34px
    font-weight: bold

  &__genres-list
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 15px

  &__genre-name
    font-size: 16px
  
  &__genre-item
    width: 30%
    padding: 15px
    font-size: 24px
    margin: 5px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer

    &:hover
      background: $dark-grey

  &__game-logo
    width: 100%

  &__game-image
    width: 100%
    height: auto
  
  &__block-header
    font-size: 24px
    font-weight: bold
  
  &__requirements-item
    font-size: 16px
    margin: 10px 0
    display: flex

  &__requirements-option
    width: 40%
  
  &__requirements-value
    width: 60%

  &__buy-section
    margin-top: 40px
    padding-top: 15px
    align-items: center
    border-top: 1px solid $dark-grey
    display: flex

    @include media-sm
      flex-direction: column
      align-items: flex-start

  
  &__buy-button
    margin-left: 40px
    padding: 5px 30px
    background: $orange-color
    font-weight: bold
    text-align: center
    min-width: 220px
    max-width: 220px

    @include media-sm
      margin: 15px 0 0 0

    &:hover
      background: darken($orange-color, 5%)
      color: #fff

    &.ordered
      background: #481173
      color: #fff

  &__price 
    font-size: 36px
    font-weight: bold

  &__description
    font-size: 16px
    font-weight: normal